@model ClubMainTabForm
<div class="col-sm-6 form-group">
    <div class="ibox">
        <div class="ibox-content">
            <h5>סה"כ שחקנים</h5>
            <h1 class="no-margins"><span>@Model.PlayersCount</span></h1>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content">
            <h5>סה"כ בעלי תפקידים</h5>
            <h1 class="no-margins"><span>@Model.OfficialsCount</span></h1>
        </div>
    </div>
</div>
