<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Plan EmailTeamplate</title>
</head>
<body>
    <div>
        <b>שם מלא</b> - {Field1}
    </div>
    <div>
        <b>ספורט</b> - {Field2}
    </div>
    <div>
        <b>ארגון</b> - {Field3}
    </div>
    <div>
        <b>דוא"ל</b> - {Field4}
    </div>
    <div>
        <b>טלפון</b> - {Field5}
    </div>
    <div>
        <b>תוכנית</b> - {Field7}
    </div>
    <div>
        <b>הערות</b> - {Field8}
    </div>
</body>
</html>
