
@{
    ViewBag.Title = "Terms";
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>לוגליג-מערכת ניהול לאגודות ספורט</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="~/Content/loglig_design/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/loglig_design/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/loglig_design/css/creative.css" rel="stylesheet" />
    <link href="~/Content/loglig_design/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="icon" href="~/Content/images/favicon.ico" />
</head>

<body id="page-top" class="landing-page">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="change-lenguege" href="">heb</a>
                <a class="change-lenguege" href="/Logineng" style="margin-left: 30px;">eng &nbsp; &nbsp; &nbsp;</a>
                <a class="navbar-brand page-scroll" href="/Login" style="padding:8px"><img src="~/Content/loglig_design/img/img_logo.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/login#contact">יצירת קשר</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/plan">הרשמה</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/login#pricing">תוכניות</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/login#portfolio">לקוחות</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/login#services">כלים</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/login#about">חזון</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header style="background-image:none;">
        <div id="wrapper" style="width:80%">

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title" style="border-color:white;">
                                <h5 style="float:right">תנאי השימוש באתר ובאפליקציית לוגליג <br /></h5>
                            </div>
                            <div class="ibox-content" style="direction: rtl" ;>
                                <form method="get" class="form-horizontal">
                                    <p style="text-align: right" ;>
                                        ברוכים הבאים לאפליקציית לוגליג ולאתר www.loglig.com להלן: ("האתר"). האתר מנוהל ומופעל על ידי חברת לוגליג בע"מ (להלן: "החברה"), חברה פרטית שמספרה 515309896, ממושב קורנית, משגב. 
                                        תנאי השימוש להלן חלים על השימוש באתר האינטרנט וכן על השימוש באפליקציית לוגליג (להלן "האתר").
                                        <br>
                                        תנאי השימוש להלן חלים על השימוש באתר האינטרנט וכן על השימוש באפליקציית לוגליג (להלן "האתר").
                                        <br><br>
                                        הגישה לאתר והשימוש בו ובכלל זה בתכנים הכלולים בו ובשירותים השונים הפועלים בו כפופים לתנאי השימוש המפורטים להלן (להלן: "תנאי השימוש"), המסדירים את היחסים בין החברה לבין כל גולש ו/או צופה ו/או משתמש באתר עבור כל מטרה שהיא, ו/או במידע המצוי באתר ו/או מקבלת מידע ו/או שירות המפורסם באתר, במישרין או בעקיפין, (להלן: "המשתמש" או "המשתמשים.)"
                                        <br><br>
                                        שימוש באתר מעיד על הסכמתך לתנאים אלה, ולכן הינך מתבקש לקרוא את תנאי השימוש באתר להלן בקפידה. תנאי השימוש באתר מנוסחים בלשון זכר לצרכי נוחות בלבד, והם מתייחסים ללשון נקבה, הכל לפי ההקשר ולהיפך. כותרות הסעיפים בתנאי השימוש נועדו לנוחיות המשתמשים בלבד ולא ישמשו לפרשנות התנאים או לכל מטרה אחרת. המונח "תוכן" או "תכנים" כולל מידע מכל מין וסוג, לרבות כל תוכן מילולי, חזותי, קולי או כל שילוב שלהם, וכן עיצובם, עיבודם, עריכתם, הפצתם ודרך הצגתם לרבות (אך לא רק): כל תמונה, צילום, איור, הנפשה, תרשים, דמות, הדמיה, שידור, סרטון, קובץ קולי וקובץ מוסיקלי; כל תוכנה, קובץ, קוד מחשב, יישום, פרוטוקול, מאגר נתונים וממשק, וכן כל תו, סימן, סמל וצלמית (icon).
                                        <br><br>
                                        <strong>1. השימוש באתר</strong><br>
                                        הנך רשאי להשתמש באתר בהתאם לכללים המפורטים להלן. אין להשתמש בתכנים באתר באופן אחר, אלא אם קיבלת את ההסכמה המפורשת, מראש ובכתב של החברה לכך ובכפוף לתנאי ההסכמה (אם תינתן): 
                                        <br><br>
                                        1.1 הנך רשאי להשתמש באתר למטרות פרטיות ואישיות בלבד. אין להעתיק ולהשתמש, או לאפשר לאחרים להשתמש, בכל דרך אחרת בתכנים מתוך האתר, לרבות באתרי אינטרנט אחרים ובפרסומים מכל סוג שהוא, לכל מטרה, בין מסחרית ובין שאינה מסחרית או לכל מטרה אחרת, שאיננה לצורך שימוש אישי ופרטי.
                                        <br>
                                        1.2 אין להפעיל או לאפשר להפעיל כל יישום מחשב או כל אמצעי אחר, לשם חיפוש, סריקה, העתקה, או אחזור אוטומטי של תכנים מתוך האתר. בכלל זה, אין ליצור ואין להשתמש בכל אמצעי לשם יצירת לקט, אוסף או מאגר שיכילו תכנים מהאתר.
                                        <br>
                                        1.3 אין להציג תכנים מהאתר בתוך מסגרת (Frame), בין גלויה ובין סמויה.
                                        <br>
                                        1.4 אין להציג תכנים מהאתר בכל דרך שהיא, ובכלל זה באמצעות כל תוכנה, מכשיר, אביזר או פרוטוקול תקשורת, ובין אם אותם אביזרים משנים את עיצוב האתר או מחסירים מהם תכנים כלשהם ובפרט פרסומות ותכנים מסחריים.
                                        <br>
                                        1.5 אין לקשר לאתר, מכל אתר אינטרנט שהוא המכיל תכנים פורנוגראפיים, תכנים המעודדים לגזענות או להפליה, או המנוגדים לחוק, או שפרסומם מנוגד לחוק או המעודדים פעילות המנוגדת לחוק.
                                        <br>
                                        1.6 בנוסף לכל האמור, לעיל ולהלן, הינך מתחייב כי בעשותך שימוש באתר לא תעשה את הדברים הבאים: (א) שליחה, שידור או הטענה של כל חומר שקרי, מטעה או חומר אשר נועד להערים על משתמש או גוף כלשהו. (ב) שליחה, שידור או הטענה של כל חומר המכיל סוג של וירוס מחשב, או כל קוד מחשב אחר, המתוכנן להרוס, להפריע, או להגביל את השימוש (בכלל זה כל שימוש אחר מלבד שימוש הוגן וסביר בשירות) בכל אחד מן המחשבים, השרתים, החומרה והתוכנה אשר מצויות בשימוש החברה לצורך אספקת השירותים המוצעים באתר זה. (ג) הפצת "דואר זבל" (spam), או הפצה של כל דואר אחר את שרתי האתר. (ד) שינוי, עיבוד, העתקה, שאיבת מידע, התאמה, תרגום, מכירה, פירוק או הרכבה מחדש של כל אחד מחלקי הקוד המרכיבים את האתר, לרבות בסיס המידע, וכן פעולות כנ"ל לגבי החומרה והתוכנה אשר מצויים בשימוש עבור האתר ושירותיו. (ה) פגיעה בכל דרך שהיא בזכויות יוצרים, סימני מסחר, או כל זכות קניינית אחרת אשר מצויות באתר זה. (ו) להעלות לאתר חומר בלתי חוקי, או חומר המעודד, תומך, מסייע, מספק הוראות לביצוע או מנחה בביצוע מעשה המהווה עבירה פלילית לפי חוקי מדינת ישראל או לפי חוקי כל מדינה זרה. (ז) לכלול כל חומר המהווה לשון הרע על אדם; לכלול כל חומר שפרסומו נאסר לפי הוראות כל דין; להסית לגזענות, לפגיעה באדם אחר או לעבירה על החוק. (ח) שימוש שנועד להתחקות אחר אדם אחר או להטריד אדם אחר בכל דרך שהיא. (ט) לאסוף או לאגור מידע אישי על משתמשים אחרים לשם מטרות בלתי חוקיות. (י) למכור, להפיץ או לעשות כל שימוש כלכלי במידע באתר או כל שימוש אחר באופן העלול לפגוע באדם אשר המידע רלוונטי לו או בכל אופן אחר. (יא) להפריע בכל דרך אחרת, או לקטוע את האתר (לרבות על ידי הפרעה לפעולות השרת ורשת המחשבים המחוברים לאתר) או להפר באופן כזה או אחר את תנאי השימוש באתר.
                                        <br>
                                        1.7 הוראות אלה אינן גורעות מכל הוראה אחרת בתנאי השימוש הכללים.
                                        <br>
                                        1.8 החברה לא תשא בכל אחריות לכל נזק שייגרם כתוצאה מכל קישור לתכנים מהאתר ומכל הצגה או פרסום של תכנים כאמור בכל דרך אחרת. הנך נושא באחריות המלאה והבלעדית לכל קישור, הצגה או פרסום של התכנים, שנעשו על ידך ומתחייב לשפות את החברה בגין כל נזק שייגרם מכך.
                                        <br><br>
                                        <strong>2. תכנים המפורסמים על ידי המשתמש</strong><br>
                                        2.1 באתר מתפרסמים תכנים שמקורם במשתמשי האתר. תכנים כאלה מתפרסמים באזורים המיועדים לכך, כדוגמת הודעות, צ'אטים, קהילות, קבוצות דיון (פורומים), בלוגים ,תגובות לכתבות ושירותים אחרים המאפשרים לך להזין לאתר תכנים משלך, בין בנפרד (באזור המיועד לתכני המשתמשים) ובין ביחד (עם תכנים של החברה). מסירת תכנים לפרסום באתר אינה מקנה לך זכות לדרוש שהתכנים יפורסמו או יוסיפו להתפרסם.
                                        <br>
                                        2.2 החברה מעודדת קיומו של דיון פורה באתר, תוך השתתפות פעילה של משתמשי האתר. יחד עם זאת, על מנת לאפשר קיומו של שיח תרבותי וענייני ועל מנת למנוע ניצול לרעה של האפשרות לביטוי באתר, רשאית החברה לבדוק את התכנים האמורים לפני פרסומם. בדיקות כאלה תעשינה אך ורק כדי למנוע פרסום ביטויים ודברים אשר סותרים את הוראות הדין וכן תכנים שהם בלתי חוקיים על פניהם וזאת ללא צורך בהפעלת שיקול דעת משפטי.
                                        <br>
                                        2.3 החברה אינה נושאת בכל אחריות לתכנים האלה והאחריות הבלעדית להם ולכל תוצאה הנובעת מהם חלה על המשתמש שמסרם לפרסום. תכנים אלה אינם מבטאים את דעת החברה או עמדתה ואין בפרסומם כל ערובה לתקפותם, אמיתותם, אמינותם, דיוקם או חוקיותם.
                                        <br>
                                        2.4 בעת שיגור או מסירת תכנים לפרסום באתר, חלה עליך האחריות המלאה והבלעדית לכל תוצאה שתנבע מן הפרסום. עליך להפקיד כי תכנים אלה יהיו חוקיים. למען הדוגמה בלבד, נאסר עליך לפרסם באתר את התכנים להלן: (א) כל תוכן שידוע לך כי הוא שקרי, מטעה או מסולף; (ב) כל תוכן הפוגע בזכויות קנייניות של אחרים או מפר אותן – לרבות זכויות יוצרים וסימני מסחר; (ג) כל תוכן פורנוגראפי או בעל אופי מיני או בוטה; (ד) כל תוכן הנוגע לקטינים ומזהה אותם, את פרטיהם האישיים או את מענם ודרכי ההתקשרות עימם; (ה) כל תוכנת מחשב, קוד מחשב או יישום הכוללים נגיף-מחשב ("וירוס"). לרבות תוכנות עוינות הידועות כסוס-טרויאני, תולעים (worms), ואנדלים (vandals), יישומים מזיקים (malicious applications) וכדומה; (ו) כל תוכן המהווה לשון הרע על אדם או הפוגע בפרטיותו, או בשמו הטוב; (ז) כל תוכן המזהה אישית אנשים אחרים, מבלי שנתנו את הסכמתם לפרסום זהותם; (ח) כל תוכן בעל אופי או תוכן טורדני, מעליב, עוין, מאיים או גס רוח; (ט) כל תוכן שיש בו, או שהוא מעודד לגזענות או אפליה פסולה על בסיס גזע, מוצא, צבע עור, עדה, לאום, דת, מין, עיסוק, נטייה מינית, מחלה, נכות גופנית או נפשית, אמונה, השקפה פוליטית או מעמד חברתי או כלכלי; (י) כל תוכן המעודד ביצוע עבירה פלילית או עלול להיות בסיס לתביעה או לאחריות אזרחית; (יא) כל תוכן העלול להטעות צרכן; (יב) כל תוכן בעל אופי פרסומי או מסחרי; (יג) כל תוכן המנוגד לתנאי השימוש באתר או העלול לגרום נזק או לפגוע במשתמשי רשת האינטרנט בכלל ובמשתמשי האתר בפרט;
                                        <br>
                                        2.5 החברה רשאית לסרב לפרסם, או למחוק לאלתר כל תוכן שמסרת לפרסום בכל עת שיימצא כי הפרת תנאי שימוש אלה או שעשית מעשה או מחדל הפוגע או עלול לפגוע בשירותים הניתנים באתר, במשתמשיו, בערוץ או מי מטעמו. כמו כן, החברה תהיה רשאית במקרה כאמור למנוע ממך פרסום תכנים נוספים באתר. הוראות סעיף זה אינן גורעות מזכויות החברה לפי כל דין.
                                        <br>
                                        2.6 החליטה החברה לפרסם תוכן שמסרת, היא רשאית לערוך את כל התוכן הזה, כולו או חלקו, לפי שיקול דעתה המוחלט, ובכלל זה, לקצרו או להאריכו.
                                        <br>
                                        2.7 התכנים שתמסור לפרסום באתר יהיו חשופים לכל משתמשי רשת האינטרנט. אי לכך המלצת החברה היא כי תתייחס בזהירות ובביקורתיות בעת מסירת הפרטים על ידך כמו גם לתכנים המתפרסמים על ידי אחרים ובכלל זה לתכנים המתפרסמים על ידי משתמשים אחרים באתר ואשר אינם מתפרסמים מטעם החברה, ולפיכך, אין הערוץ אחראי למהימנותם, אמיתותם, אמינותם, דיוקם או שלמותם ואינו אחראי לכל תוצאה שתיגרם מכל סוג של שימוש בהם או מהסתמכות עליהם.
                                        <br><br>
                                        <strong>3. שירותים הניתנים על ידי האתר וטעונים רישום</strong><br>
                                        3.1 באתר תמצא שירותים הטעונים הרשמה. תוכל ליהנות מכל שירות כזה לאחר השלמת תהליך ההרשמה במסירת הפרטים המתבקשים במהלכו כגון: שם, כתובת ודוא"ל אלקטרוני. מסירת פרטים שגויים תמנע ממך את האפשרות להשתמש בשירות ותסכל את האפשרות ליצירת קשר איתך.
                                        <br>
                                        3.2 משתמשים שיקלידו את פרטיהם כאמור, נותנים בזאת את הסכמתם להיכלל במאגר מידע שינוהל/מנוהל על ידי החברה בהתאם לחוק הגנת הפרטיות, התשמ"א – 1981, וכן כי החברה תשלח אליהם חומר מקצועי לרבות, עדכונים, פרסומים, הודעות והצעות שונות.
                                        <br>
                                        3.3 החברה תהיה רשאית למסור את הפרטים האישיים כאמור לגורמים הקשורים בתפעול האתר וכן לכל רשות אכיפה ו/או על פי כל צו שיפוטי.
                                        <br>
                                        3.4 כמו כן, החברה תהיה רשאית לעשות שימוש בפרטים אלו, בין בעצמו ובין על ידי מי מטעמו, לצרכים מסחריים, פרסומיים, סטטיסטיים ושיווקיים שונים, ואולם שימוש כזה יתבסס על המידע כמקשה אחת וללא התייחסות פרטנית הקשורה למשתמש מסוים.
                                        <br>
                                        3.5 במקרה של שינוי בפרטים עליך לעדכנם באמצעות עדכון פרטי משתמש רשומים באתר.
                                        <br>
                                        3.6 החברה רשאית שלא לאפשר לך להשתמש בשירות הטעון רישום לפי שיקול דעתו המוחלט. מבלי לגרוע מהאמור לעיל, רשאית החברה לבטל רישומך לשירות, או לחסום את גישתך אליו, בכל אחד מן המקרים הבאים: (א) אם בעת ההרשמה לשירות מסרת במתכוון פרטים שגויים; (ב) אם ביצעת מעשה או מחדל, הפוגעים או עלולים לפגוע בחברה ו/או באתר או בצדדים שלישיים כלשהם, לרבות מנויים אחרים, כותבים או ספקים של החברה ו/או האתר; (ג) אם השתמשת בשירות או בשירותים נוספים הניתנים על ידי האתר לביצוע או כדי לנסות לבצע מעשה בלתי חוקי, או מעשה הניתן לחזותו על פניו כבלתי חוקי כאמור, או כדי לאפשר להקל, לסייע או לעודד ביצועו של מעשה כזה; (ד) אם הפרת את תנאי השימוש באתר או את התנאים של כל שירות אחר במסגרת האתר; (ה) אם תעשה כל פעולה שתמנע מאחרים להצטרף לשירות או להמשיך וליהנות מהשירות בכל דרך שהיא;
                                        <br><br>
                                        <strong>4. צפייה בשידורים באתר</strong><br>
                                        4.1 באפשרות משתתף לצפות באתר בסרטונים באופן ישיר מן המגרשים, בעתיד גם בשידורים ישירים
                                        <br>
                                        4.2 השידורים הישירים הם בכפוף ללוח המשחקים של האיגוד
                                        <br>
                                        4.3 מובהר, כי ניתן לצפות בשידורים הישירים דרך האתר רק דרך מחשבים בתחומי מדינת ישראל.
                                        <br>
                                        4.4 למען הסר ספק, מובהר, כי לא תהיה למשתתף ו/או מי מטעמו כל טענה ו/או דרישה ו/או תביעה ו/או כל זכות אחרת נגד החברה ו/או מי מטעמה בשל אי שידור ישיר באתר אשר נובע מנסיבות ו/או טעמים שאינם תלויים בחברה, אינם בשליטתה ואשר אינם ניתנים לצפייה מראש כגון ורק לשם הדוגמאות: נפילת האתר של החברה, אי התקיימות משחק/ים במועד המתוכנן ו/או מכל סיבה הקשורה בליקויים ו/או תקלות ו/או בעיות הנובעות כתוצאה מהמחשב של המשתתף.
                                        <br><br>
                                        <strong>5. קישורים באתר לאתרים ברשת האינטרנט</strong><br>
                                        5.1 באתר תמצא קישורים ("לינקים") לעמודים שונים ולאתרים שונים ברשת האינטרנט. הקישורים מאפשרים לך למצוא תכנים שונים המתפרסמים ברשת האינטרנט. מרבית התכנים אינם מתפרסמים על ידי החברה או מטעמה והערוץ אינו שולט ו/או מפקח עליהם. העובדה שהחברה מקושרת לתכנים אלה אינה מעידה על הסכמת החברה לתוכנם ואינה מהווה ערובה לאמינותם, לעדכניותם, לחוקיותם ו/או לנוהג בעלי התכנים האמורים בתחום הפרטיות או בכל היבט אחר הקשור בתפעולם. יתכן שתמצא כי אתה מתנגד לתכנים אלה או סבור כי תכנים אלה מקוממים, מרגיזים, בלתי נאותים, בלתי חוקיים או בלתי מוסריים. החברה אינה אחראית לתכנים שאליהם מוליכים הקישורים מהאתר ואינה אחראית לכל תוצאה שתיגרם מהשימוש בתכנים כאמור ו/או מהסתמכות עליהם.
                                        <br>
                                        5.2 החברה אינה מתחייבת כי הקישורים ("לינקים") שימצאו באתר יהיו תקינים ויובילו אותך לאתר אינטרנט פעיל.
                                        <br>
                                        5.3 החברה רשאית להסיר מהאתר קישורים שנכללו בו בעבר, או להימנע מהוספת קישורים חדשים, וכן רשאית להוסיף קישורים בכל עת, הכל לפי שיקול דעתה המוחלטת.
                                        <br>
                                        5.4 במסגרת האתר מוצעים שירותים של מנוי מתחדש לאפליקציית אייפון ואייפד של אפל, בה תינתן גישה לצפיה בערוץ המכיל תכני ספורט שונים. השימוש כרוך בתשלום (מנוי חודשי) בתנאים מפורטים המפורסמים באפליקציה.
                                        <br><br>
                                        <strong>6. תכנים מסחריים ותכנים פרסומיים</strong><br>

                                        6.1 האתר כולל תכנים מסחריים כגון פרסומות ומודעות, הנמסרים לפרסום מטעמם של מפרסמים שונים. תכנים כאמור, יכול שיהיו בטקסט, בתמונות, בקול או בכל דרך אחרת, או שילוב של הנ"ל.
                                        <br>
                                        6.2 החברה לא תשא בכל אחריות לתכנים המסחריים שיפורסמו באתר. החברה אינה כותבת, בודקת, מוודאת או עורכת את תוכן הפרסומים הללו או אמיתותם.
                                        <br>
                                        6.3 האחריות היחידה לתכנים המסחריים ולכל תוצאה שתיגרם משימוש בהם או מהסתמכות עליהם חלה על המפרסמים. פרסום תכנים מסחריים באתר אינו מהווה המלצה או עידוד לרכוש את המוצרים, השירותים וכיוצ"ב המפורסמים באתר.
                                        <br>
                                        6.4 כל עסקה שתעשה בעקבות תכנים מסחריים המתפרסמים באתר תהיה בינך לבין המפרסם הנוגע בדבר או מי מטעמו, ובכל מקרה החברה או מי מטעמה אינה צד לכל עסקה כזו, והיא לא תשא באחריות לשירותים, מוצרים וטובין שהוצעו או הוצגו בתכנים המסחריים באתר או אשר ירכשו באמצעותו.
                                        <br><br>
                                        <strong>7. זכויות יוצרים וקניין רוחני</strong><br>
                                        7.1 האתר בכללותו, לרבות עיצובו, תוכנו, יישומי התוכנה שבו, השמות וסימני המסחר, הינם קניינם הבלעדי של החברה או של צד שלישי שהרשה לחברה להשתמש בו, והם מוגנים על ידי דיני מדינת ישראל, אמנות בינלאומיות ודיני מדינות זרות.
                                        <br>
                                        7.2 המשתמשים באתר מתחייבים לפעול על פי הדינים והאמנות הנ"ל ולעשות באתר אך ורק שימוש אישי ולא מסחרי.
                                        <br>
                                        7.3 המשתמשים אינם רשאים להכניס שינויים, להעתיק, לשכפל, לשווק, לפרסם, להפיץ, לשדר, להציג, לשנות, לייצר עבודות נגזרות, למכור או להשכיר, כל חלק מן האתר ו/או לעשות שימוש בשמות ובסימנים המסחריים המוצגים באתר, מבלי לקבל את הסכמת החברה ו/או את הסכמת בעלי הזכויות האחרים מראש ובכתב, לפי העניין ובכפוף לתנאי ההסכמה (ככל שתינתן). הוראה זה תקפה גם ביחס לכל עיבוד, עריכה או תרגום שנעשו על ידי החברה לתכנים שנמסרו על ידך לאתר.
                                        <br>
                                        7.4 אם וכלל שתינתן הסכמה כאמור, עליך להימנע מלהסיר, למחוק או לשבש כל הודעה או סימן בעניין זכויות הקניין הרוחני, הנלווים לתכנים שיעשה בהם שימוש על ידך.
                                        <br>
                                        7.5 סימני המסחר ומודעות הפרסומת של מפרסמים באתר הינם קניינם של מפרסמים אלה בלבד. גם בהם אין לעשות שימוש בלא הסכמת המפרסם בכתב ומראש.
                                        <br>
                                        7.6 החברה אינה טוענת לבעלות בתכנים שאתה מוסר לפרסום באתר. יחד עם זאת, כאשר אתה מוסר תכנים, המיועדים לפרסום באתר אתה מאשר בעצם מסירתם לפרסום באתר, כי אתה בעל כל הזכויות בהם וכי הנך רשאי למוסרם לפרסום.
                                        <br>
                                        7.7 אם אינך היוצר או בעל הזכויות בתכנים שאתה מוסר לפרסום, אתה מאשר שהנך בעל הרשאה כדין מבעל הזכויות, המתירה לך למסור את התכנים לפרסום באתר ולתת בהם זכויות שימוש כמפורט להלן.
                                        <br>
                                        7.8 במסירת הפרטים לפרסום אתה מקנה לערוץ את הזכות הבלתי מוגבלת, ללא הגבלה בזמן וללא הגבלה במקום, להעתיק, לשכפל, להפיץ, לשווק, למסור לציבור, לעבד, לתרגם ולהשתמש בתכנים כאמור בכל דרך נוספת, לפי שיקול דעתו הבלעדי של הערוץ ובכל אמצעי מדיה שהוא לפי בחירת הערוץ.
                                        <br><br>
                                        <strong>8. אחריות החברה</strong><br>
                                        8.1 התכנים בשל החברה ניתנים לשימוש כמות שהם (as is). לא ניתן להתאימם לצרכיו של כל אדם ואדם. לא תהיה לך כל טענה, תביעה או דרישה כלפי החברה בגין תכונות של התכנים, יכולותיהם, מגבלותיהם, התאמתם לצרכיך, או תגובות שיעורר פרסום התכנים באתר (במידה ויתעורר).
                                        <br>
                                        8.2 השימוש באתר הוא על אחריותך הבלעדית והמלאה ולא תישמע כל טענה מכל סוג שהיא כנגד החברה ו/או מי מטעמו.
                                        <br>
                                        8.3 החברה אינה מתחייבת כי לתכנים אשר יפורסמו באתר תהיה היענות. החברה אינה יכולה לדעת אילו תגובות (אם בכלל) יתקבלו בעקבות הפרסום ומי יגיב לתכנים שפורסמו באתר, ולכן אין החברה תשא כלפיך ו/או כלפי כל אדם אחר באחריות כלשהי לתגובות הללו או לכל תוצאה שתנבע מהפרסום. החברה גם לא תהיה אחראית לכל שימוש שיעשה על ידי צד שלישי בתכנים שיפורסמו על ידך.
                                        <br>
                                        8.4 כל החלטה שתקבל ביחס לתכנים שהתפרסמו על ידך באתר זה הינה באחריותך המלאה בלבד. החברה אינה מתחייבת כי תכנים ושירותים של צדדים שלישיים, לרבות של ספקי תוכן ושירותים ושל משתמשים, המתפרסמים באתר, יהיו מלאים, נכונים, חוקיים או מדויקים או יהלמו את ציפיותיך ודרישותיך. החברה לא תשא באחריות כלשהי לכל תוצאה שתנבע מהתכנים האמורים, או משימוש בהם, או מהסתמכות עליהם.
                                        <br>
                                        8.5 החברה אינה מתחייבת ששירותי האתר לרבות המידע שבו לא יופרעו, יינתנו כסדרם בלא הפסקות, יתקיימו בבטחה וללא טעויות, ויהיו חסינים מפני גישה בלתי מורשית למחשבי החברה או מפני נזקים, קלקולים, תקלות או כשלים בחומרה, בתוכנה ובכל מערכת תקשורת אחרת של החברה ו/או של מי מטעמה.
                                        <br><br>
                                        <strong>9. שינויים באתר והפסקת שירות</strong><br>
                                        9.1 החברה יכולה לשנות מעת לעת את מבנה האתר, מראהו ועיצובו, את היקפם וזמינותם של השירותים בו, ותהיה רשאית לגבות תשלום בעד תכנים ושירותים כאלה או אחרים לפי החלטתה, ותהיה רשאי לשנות כל דבר ו/או היבט אחר הכרוך באתר – כל האמור לעיל בלא צורך להודיע על כך מראש.
                                        <br>
                                        9.2 שינויים כאמור, יבוצעו, בין השאר, בהתחשב באופי הדינאמי של רשת האינטרנט ובשינויים טכנולוגיים שונים ואחרים המתרחשים בה. מעצם טיבם, שינויים כאמור עלולים להיות כרוכים בתקלות ו/או באי-נוחות וכיוצ"ב. לא תהיה לך כל תביעה ו/או טענה ו/או דרישה כלפי החברה ו/או מי מטעמה בגין שינויים כאמור ו/או תקלות שיתרחשו עקב או אגב ביצועם.
                                        <br>
                                        9.3 מבלי לגרוע מן האמור לעיל, רשאית החברה להפסיק בכל עת את מתן השירותים באתר, כולם או חלקם. החברה תפרסם באתר הודעה על הפסקת השירותים כאמור תוך זמן סביר מראש. עם הפסקת השירותים תחזיק החברה את החומר הכלול באתר למשך זמן סביר נוסף ולאחר מכן תהיה רשאי למחוק אותו בלא לשמור כל גיבוי ממנו ובלא לתת הודעה נוספת על כך.
                                        <br><br>
                                        <strong>10. שיפוי</strong><br>
                                        10.1 הינך מתחייב לשפות את החברה, עובדיו, מנהליו או מי מטעמה, בגין כל נזק, הפסד, אובדן רווח, תשלום או הוצאה שייגרמו להם -- ובכלל זה שכ"ט עו"ד, אגרות והוצאות משפט -- עקב הפרת תנאי שימוש אלה.
                                        <br>
                                        10.2 בנוסף, תשפה את החברה, עובדיו, מנהליו או מי מטעמה, בגין כל טענה, תביעה ו/או דרישה שתועלה נגדם על ידי צד שלישי כלשהו כתוצאה מתכנים שמסרת לפרסום בערוץ וכתוצאה מקישורים שביצעת לערוץ.
                                        <br><br>
                                        <strong>11. סמכות שיפוט</strong><br>
                                        11.1 על תנאי שימוש אלו, על כל הנובע מהם או הכרוך בהם לרבות פרשנותם, יחולו אך ורק דיני מדינת ישראל.
                                        <br>
                                        11.2 מקום השיפוט הבלעדי לכל עניין הנוגע להסכם זה, לתנאי השימוש הקבועים בו ולכל עניין הקשור בשימוש באתר, בין במישרין ובין בעקיפין, הינו בבתי המשפט המוסמכים בתל-אביב-יפו.
                                        <br><br>
                                        <strong>12. כללי</strong><br>
                                        12.1 במידה ויקבע שחלק כלשהו מתנאי השימוש אינו תקף, או שאינו ניתן לאכיפה, אזי התנאים שתוקפם נשלל או שאינם ניתנים לאכיפה ייחשבו כאילו הוחלפו בתנאים תקפים הניתנים לאכיפה שתוכנם תואם במידת הקירוב הגדולה ביותר את כוונת התנאים המקוריים, ואילו יתר תנאי השימוש יישארו בתוקפם ככתבם וכלשונם.
                                        <br>
                                        12.2 החברה מקפידה על קיום הוראות החוק ומכבדת את זכותם של משתמשי האתר ואחרים לפרטיות ולשם טוב. אם אתה סבור כי פורסם באתר תוכן הפוגע בך מטעם כלשהו, נא פנה אלינו לפי הפרטים שלהלן ואנו נשתדל לטפל בפנייתך בהקדם האפשרי. פניות כאמור ניתן להעביר לכתבות הבאה: עבור: לוגליג בע"מ - מושב קורנית ד.נ משגב 20181.
                                        <br><br>
                                        <strong>13. מדיניות הפרטיות באתר לוגליג</strong><br>
                                        כללי הפרטיות מסבירים כיצד אנו משתמשים בכל מידע אישי אודותיך. כללי פרטיות אלו מיועדים לסייע לך להרגיש בטוח יותר בקשר לפרטיותך ובטיחות המידע שלך.
                                        <br>
                                        13.1 רישום
                                        <br>
                                        במסגרת ההרשמה לשירותים באתר (ככל שהרשמה כזו נדרשת) תתבקש למסור מידע אישי, דוגמת שם, כתובת, פרטי קשר, דוא"ל או כל מידע אחר החיוני ו/או הקשור בשירות/פעילות. השדות שחובה למלא, החיוניים על מנת שנוכל לספק לך את השירות ו/או הפעילות המבוקשת על ידך, יסומנו במפורש. בלא למסור את הנתונים המתבקשים בשדות החובה לא תוכל להירשם לשירותים.
                                        <br>
                                        13.2 מאגר המידע
                                        <br>
                                        הנתונים שתמסור בעת ההרשמה יישמרו במאגר המידע של האתר. אינך נדרש על-פי חוק למסור את המידע, אולם בלא מסירת הפרטים המופיעים בשדות החובה, לא תוכל להשתמש בשירותים ו/או בפעילות.
                                        <br>
                                        13.3 שימושים במידע
                                        <br>
                                        בעת השימוש באתר יכול שיצטבר מידע על הרגליך, פעילויות בהן השתתפת ו/או שירותים שאותם ביקשת לקבל ו/או לרכוש ו/או לקנות, מידע או פרסומות שקראת באתרים, העמודים שבהם צפית, ההצעות והשירותים שעניינו אותך, אמצעי התשלום ששימשו אותך, מקום המחשב שבאמצעותו נכנסת לאתרים ועוד. בכוונתנו לשמור מידע כאמור במאגרינו. השימוש במידע זה, כמו גם בכל מידע ו/או נתון שתמסור בעת ההרשמה, ייעשה רק על פי מדיניות פרטיות זו או על פי הוראות כל דין – וזאת, בין היתר, למטרות המפורטות להלן:
                                        <br>
                                        • כדי לאפשר לך להשתמש בשירותים שונים באתר – לרבות, מבצעים, משחקים ופעילויות שונות.
                                        <br>
                                        • כדי לשפר ולהעשיר את השירותים והתכנים המוצעים באתר, לרבות יצירת שירותים ותכנים חדשים המתאימים לנהגי השימושים. המידע שישמש אותנו לצורך כך יהיה בעיקרו מידע סטטיסטי, שאינו מזהה אותך אישית. 
                                        <br>
                                        • כדי להתאים את התכנים המוצגים באתר לתחומי ההתעניינות והרגלי הגלישה שלך. המידע שישמש אותנו לצורך כך לא יזהה אותך אישית בשמך או בכתובתך.
                                        <br>
                                        • לצורך רכישת מוצרים ושירותים באתר - לרבות פרסום מידע ותכנים מטעמך.
                                        <br>
                                        • לשם יצירת אזורים אישיים באתר, שתוכל להתאים להעדפותיך.
                                        <br>
                                        • ליצירת קשר או לצורך ניתוח ומסירת מידע סטטיסטי לצדדים שלישיים, לרבות מפרסמים. מידע זה לא יזהה אותך אישית.
                                        <br>
                                        • אנו נהיה רשאים לשלוח אליך מדי פעם בדואר אלקטרוני מידע בדבר שירותים שונים אודות האתר ו/או הערוצים השונים, וכן מידע שיווקי ופרסומי – מטעמנו ו/או מטעם מפרסמים אחרים. מידע כזה ישלח אליך אם נתת הסכמה מפורשת לכך, ובכל עת תוכל לבטל את הסכמתך ולחדול מקבלתו. עם זאת, לא נמסור את פרטיך האישיים למפרסמים. 
                                        <br>
                                        • לכל מטרה אחרת, המפורטת במדיניות פרטיות זו או בתנאי השימוש של איזה מהשירותים הרלבנטיים.
                                        <br>
                                        • לצורך תפעול ופיתוח האתר. המידע המשמש לצורך זה לא יועבר לצדדים שלישיים, אלא ככל שהדבר הותר במסגרת מדיניות פרטיות זו, כפי שתעודכן מפעם לפעם.
                                        <br>
                                        13.4 מסירת מידע לצד שלישי
                                        <br>
                                        לא נעביר לצדדים שלישיים פרטים אישיים ומידע שנאסף על פעילותיך באתר (ככל שפרטים ומידע זה מזהים אותך אישית), אלא במקרים המפורטים להלן: 
                                        <br>
                                        • אם יינתן צו שיפוטי המורה לנו למסור כל פרטים ו/או מידע. 
                                        <br>
                                        • כל מחלוקת, טענה, תביעה, דרישה או הליכים משפטיים, אם יהיו, בינך ואו מי מטעמך לבינינו, ו/או כל מחלוקת, טענה, תביעה, דרישה או הליכים משפטיים הקשורה באתר.
                                        <br>
                                        • בעת שתרכוש מוצרים ושירותים משותפים שלנו, או בעת שתיקח חלק בפעילויות תוכן של צד שלישי, או בפעילויות משותפות לנו ולצד שלישי המוצגות באתר. במקרים אלה יועבר לשותפים המידע הדרוש להם לשם השלמת תהליך הרכישה, ניהול פעילות התוכן הרלבנטית ושמירת הקשר עמך. 
                                        <br>
                                        • במקרה שתפר את תנאי השימוש באתר, או אם תבצע באמצעות האתר, או בקשר אליו, פעולות הנחזות כמנוגדות לדין, או ניסיון לבצע פעולות כאלה. במקרים אלה, נהיה רשאים למסור את המידע לפי הנדרש.
                                        <br>
                                        • בכל מקרה שנהיה סבורים, לפי שיקול דעתנו, כי מסירת מידע נחוצה כדי למנוע נזק חמור לגופך או לרכושך או לגופו או לרכושו של צד שלישי.
                                        <br>
                                        • העברת המידע במסגרת המחאה ו/או העברה ו/או הסבה של פעילותנו (כולה או חלקה) לצד שלישי.
                                        <br>
                                        13.5  Cookies
                                        <br>
                                        האתר משתמש ב ) Cookies"עוגיות") לצורך תפעולו, ובכלל זה כדי לאסוף נתונים סטטיסטיים אודות השימוש באתר, לאימות פרטים, בין היתר, כדי להתאים את האתר ותכניו להעדפותיך האישיות, הרגלי הגלישה שלך, וכן לצרכי אבטחת מידע.
                                        לידיעתך כי Cookies הן קבצי טקסט קטנים, שהדפדפן שלך יוצר לפי פקודה מהמערכות שלנו. חלק מה- Cookies יפקעו כאשר תסגור את הדפדפן ואחרות נשמרות על גבי הכונן הקשיח במחשבים שלך. אם, לדוגמה, אתה משתמש במערכת ההפעלה "חלונות" ובדפדפן מסוג אינטרנט אקספלורר של חב' מייקרוסופט, תוכל למצוא אותם בספריה c:windows.cookies וכן ב c:windows.Temporary Internet Files -
                                        <br>
                                        אותם קבצי Cookies מכילים מידע מגוון כדוגמת הדפים שבהם ביקרת, מהיכן הגעת אל האתרים, משך הזמן ששהית באתרים, מדורים ומידע שאתה מבקש לראות בעת הכניסה לאתרים ועוד. קבצי ה- Cookies  משמשים גם כדי לייתר את הצורך בהזנת פרטיך בכל פעם שאתה מבקר מחדש בעמודי האתר השונים המחייבים רישום. 
                                        <br>
                                        המידע ב- Cookies מוצפן, ואנו נוקטים צעדי זהירות מיוחדים כדי להבטיח שרק המערכות שלנו תוכלנה לעשות כל שימוש במידע שבהם.
                                        <br>
                                        אם אינך מעוניין לקבל Cookies, תוכל לחסום את השימוש בהם על ידי הליך פשוט בדפדפן שלך. לשם כך אנא העזר בקובץ העזרה של הדפדפן. עליך לדעת, עם זאת, שנטרול ה- Cookies עלול לגרום לכך שלא תוכל להשתמש בחלק מהשירותים והפעילויות באתר, או באתרי אינטרנט אחרים. 
                                        <br>
                                        בנוסף לכך, ישנה אפשרות למחיקת ה- Cookies במחשב בכל עת. מוצע שתעשה כן, רק אם אתה משוכנע שאינך רוצה שהאתר יותאם להעדפותיך. הואיל וה- Cookies מונעות ממך לעתים את הצורך להזין שמות משתמש וסיסמאות, אל תמחק אותן אלא אם אתה משוכנע שרשמת תחילה את כל הפרטים הדרושים לשימוש באתרים במקום בטוח, כך שתוכל לשחזר כל מידע שיימחק על ידך.
                                        <br>
                                        "ייתכן כי חלק מהמודעות, שבהם אתה צופה בעת הביקור באתר מגיעות משרתים של צדדי ג', המנהלים את מערך הגשת הפרסומות באתר. ניהול הפרסומות מצריך מחברות אלו הצבת  Cookies במחשבך ושיבוץ web beacons במודעות הפרסומת ,להלן: "Cookies")).תפקיד ה  - Cookies הינו סיוע באיסוף מידע אודות הצפייה והשימוש באתרי אינטרנט בהם קיים פרסום ואודות הפרסומות אליהן נחשפת ועליהן הקלקת. המידע הנאסף מבקש להתאים את הפרסומות שיוצגו בפניך לנושאים שיעניינו אותך. אם אינך רוצה לקבל  Cookies תוכל להימנע מכך על ידי שינוי ההגדרות בדפדפן שלך. לשם כך היעזר בקובץ העזרה של הדפדפן. אתה יכול למחוק את ה - Cookies במחשבך בכל רגע. לתשומת ליבך, מוצע שתעשה כן,  רק אם אתה משוכנע שאינך רוצה להתאים את הפרסומות באתר להעדפותיך. ייתכן גם שנטרול ה - Cookies עלול לגרום לכך שלא תוכל להשתמש בחלק מהשירותים והתכונות באתרי אינטרנט אחרים.השימוש שחברות אלה עושות ב-Cookies כפוף למדיניות הפרטיות שלהן. למדיניות הפרטיות של  Google ראה: .http://www.google.com/int/en/privacy שימושך באתר מעיד על הסכמתך להתקנת Cookies של גוגל ,ככל שלא מותקן Cookie של גוגל על מחשבך וכן, לשימוש במידע כאמור לעיל.
                                        <br>
                                        13.6 אבטחת מידע
                                        <br>
                                        אנו מיישמים באתר מערכות ונהלים לאבטחת מידע. בעוד שמערכות ונהלים אלה מצמצמים את הסיכונים לחדירה בלתי-מורשית למערכות שלנו, אין בהם בטחון מוחלט. לפיכך, אין אנו מתחייבים שהשירותים ו/או הפעילויות באתר יהיו חסינים באופן מוחלט מפני גישה בלתי-מורשית למידע המאוחסן בהם.
                                        <br>
                                        13.7 זכות לעיין במידע
                                        <br>
                                        על-פי חוק הגנת הפרטיות, התשמ"א-1981, כל אחד זכאי לעיין בעצמו, או על ידי בא-כוחו שהרשהו בכתב או על ידי אפוטרופוסו, במידע שעליו המוחזק במאגר מידע. אדם שעיין במידע שעליו ומצא כי אינו נכון, שלם, ברור או מעודכן, רשאי לפנות לבעל מאגר המידע בבקשה לתקן את המידע או למוחקו. אם בעל המאגר סירב למלא בקשה זו, עליו להודיע על כך למבקש באופן ובדרך שנקבעו בתקנות. 
                                        <br>
                                        על סירובו של בעל מאגר מידע לאפשר עיון ועל הודעת סירוב לתקן או למחוק מידע, רשאי מבקש המידע לערער לפני בית משפט השלום באופן ובדרך שנקבעו בתקנות.
                                        <br>
                                        בנוסף, אם המידע שבמאגרי המידע שלנו משמש לצורך פניה אישית אליך, בהתבסס על השתייכותך לקבוצת אוכלוסין, שנקבעה על פי אפיון אחד או יותר של בני אדם ששמותיהם כלולים במאגר ("פניה בהצעה מסחרית"), כי אז אתה זכאי על-פי חוק הגנת הפרטיות, התשמ"א-1981 לדרוש בכתב שהמידע המתייחס אליך יימחק ממאגר המידע. אנו נמחק במקרה זה מידע הדרוש לנו רק כדי לפנות אליך בהצעות מסחריות כאמור לעיל. מידע הדרוש לנו לשם ניהול עסקינו ו/או פעילויותינו השונות - לרבות תיעוד פעולות מסחריות ואחרות שביצעת באתר - יוסיף להישמר במערכות שלנו, על-פי דין, אך לא ישמש עוד לצורך פניות אליך. אם בתוך 30 יום לא תקבל הודעה כי המידע שנתבקשנו למחוק אכן נמחק על-פי סעיף זה, תהיה זכאי לפנות לבית משפט השלום באופן הקבוע בתקנות שמכוח החוק, כדי שיורה לנו לפעול כאמור.
                                        <br>
                                        13.8 שינויים במדיניות הפרטיות
                                        <br>
                                        אנו נהיה רשאים לשנות, מעת לעת, את הוראות מדיניות הפרטיות, לפי שיקול דעתנו הבלעדי ובכפוף לכל דין. אם יבוצעו במדיניות זו שינויים מהותיים, בהוראות שעניינן השימוש במידע אישי שמסרת, תפורסם על-כך הודעה באתר, במקום שבו מפורסמים כללים אלו.
                                        <br><br>
                                        גלישה מהנה,
                                        <br>
                                        לוגליג בע"מ

                                    </p>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
</body>
</html>


