@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body style="text-align:right">
    <p>
         ,@Model.Name שלום
    </p>
    <p>
        :הסיסמה שלך
    </p>
    <p>
        @Model.Password 
    </p>
    <p>
        Loglig צוות
    </p>
</body>
</html>