@model IEnumerable<AppModel.Group>

<div class="row offset-2">
    <div class="col-sm-6">
        <a href="@Url.Action("Create", "Stages", new { id = ViewBag.LeagueId, seasonId = ViewBag.SeasonId })"
           class="btn btn-primary"
           data-ajax-update="#stages"
           data-ajax-method="POST"
           data-ajax-begin="this.style.visibility='hidden'"
           data-ajax-success="this.style.visibility='visible'"
           data-ajax="true">@Messages.AddStage</a>

    </div>
</div>


<div class="row offset-2">
    <div id="stages" class="col-sm-6">
        @Html.Action("Index", "Stages", new {seasonId = ViewBag.SeasonId})
    </div>
</div>

<div class="row">
    <div id="groupslist" class="col-sm-12">
        @Html.Action("Index", "Groups", new {seasonId = ViewBag.SeasonId})
    </div>
</div>

<div class="modal fade" id="groupsedit" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
<script>
    function activateTab(tab) {
        $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };
</script>