
@{
    ViewBag.Title = "Index";
    Layout = null;
}


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>לוגליג-מערכת ניהול לאגודות ספורט</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="~/Content/loglig_design/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/loglig_design/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/loglig_design/css/creative.css" rel="stylesheet" />
    <link href="~/Content/loglig_design/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="icon" href="~/Content/images/favicon.ico" />
</head>

<body id="page-top" class="landing-page">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/login" style="padding:8px"><img src="~/Content/loglig_design/img/img_logo.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/login#contact">יצירת קשר</a>
                    </li>
                    <li>
                        <a class="page-scroll">הרשמה</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/login#pricing">תוכניות</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/login#portfolio">לקוחות</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/login#services">כלים</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/login#about">חזון</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div id="wrapper">

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5 style="float:right;">הרשמה לתוכנית <br /></h5>
                            </div>
                            <div class="ibox-content" id="heb">
                                <form  class="form-horizontal">

                                    <div class="form-group">
                                        <h1>תודה שפנית אלינו <br />נציגינו יחזרו אליך בהקדם</h1>
                                    </div>

                                    <div class="form-group">
                                        <h2>בתודה צוות לוגליג</h2>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>
