
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Loglig-HomePage</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="~/Content/loglig_design/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/loglig_design/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/loglig_design/css/creative.css" rel="stylesheet" />
    <link href="~/Content/loglig_design/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="icon" href="~/Content/images/favicon.ico" />
</head>
<body>
    <div id="page-top" class="landing-page">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="change-lenguege" href="/Login">heb</a>
                    <a class="change-lenguege" href="" style="margin-left: 30px;">eng &nbsp; &nbsp; &nbsp;</a>
                    <a class="navbar-brand page-scroll" href="#page-top" style="padding:8px"><img src="~/Content/loglig_design/img/img_logo.png"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#contact">contact-us</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/plan">register</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#pricing">plans</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#portfolio">clients</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#services">features</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">vision</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1>loglig</h1>
                    <h1>sports clubs app</h1>
                    <hr>
                    <p>An integrated social system APP for sport managment</p>
                </div>
            </div>
        </header>

        <section class="bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Our vision</h2>
                        <hr class="light">
                        <p class="text-faded" style="font-weight:bold">
                            Our focus is on providing a tool that enhances the participatory experience for sport associations and sport leagues
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Discover great features</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-bell wow bounceIn text-primary"></i>
                            <h3>Push notifications</h3>
                            <p class="text-muted">for game and practice time/date changes, achievements & reminders</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-comment wow bounceIn text-primary" data-wow-delay=".1s"></i>
                            <h3>Messages</h3>
                            <p class="text-muted">easily communicate with your teammates and friends, messaging ability for the whole club or team</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-search wow bounceIn text-primary" data-wow-delay=".3s"></i>
                            <h3>Search</h3>
                            <p class="text-muted">easily search for players, fans, teams and leagues across the app </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                            <h3>Administrative panel</h3>
                            <p class="text-muted">advanced platform with levels having user's permissions for access.  Automatic game schedule generator, creating of leagues and teams and Interfacing with association websites</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-home wow bounceIn text-primary"></i>
                            <h3>Team App Home page</h3>
                            <p class="text-muted">shows roster, automatic updating of league standings, games and training schedule, leaders and other related data.
Each player receives his game stats and season statistics analysis</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-camera wow bounceIn text-primary" data-wow-delay=".1s"></i>
                            <h3>Share photos</h3>
                            <p class="text-muted">share game photos in real-time, upload to team and league app home page gallery and share with your friends</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                            <h3>Building with love</h3>
                            <p class="text-muted">we believe that when building with love great things happens</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-file wow bounceIn text-primary" data-wow-delay=".2s"></i>
                            <h3>Reports production</h3>
                            <p class="text-muted">export game stats report, attendance reports and more</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-globe wow bounceIn text-primary"></i>
                            <h3>Multiple language support</h3>
                            <p class="text-muted">English, Hebrew and soon even more</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-signal wow bounceIn text-primary" data-wow-delay=".1s"></i>
                            <h3>Live game stats</h3>
                            <p class="text-muted">use our Live-Scoring app and track real-time individual and team stats of the game</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".3s"></i>
                            <h3>Time saving</h3>
                            <p class="text-muted">using our solution is a real time saver for administrating and improving the efficiency levels for all users </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".2s"></i>
                            <h3>Fans</h3>
                            <p class="text-muted">get more involvement from fans. Fans can confirm their attendance at games, upload photos from game and more</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Among our clients</h2>
                        <hr class="primary">
                        <a href='https://play.google.com/store/apps/details?id=com.yit.Loglig&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank"><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' style="height:60px;" /></a>
                        <a href="https://geo.itunes.apple.com/us/app/loglig-app/id1089230900?mt=8" target="_blank"> <img src='https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg' /></a>
                        <a href="http://www.kadureshet.com/" target="_blank"><img src="~/Content/loglig_design/img/logo-kadooreshet.jpg" style="width:150px; margin-left:30px;" /></a>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <a href='https://play.google.com/store/apps/details?id=com.loglig.waterpolo' target="_blank"><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' style="height:60px;" /></a>
                        <a href="https://itunes.apple.com/us/app/loglig-israel-waterpolo/id1180346164?l=iw&ls=1&mt=8" target="_blank"> <img src='https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg' /></a>
                        <img src="~/Content/loglig_design/img/logo-waterpolo.png" style="width:150px; margin-left:30px;" />
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <a href='https://play.google.com/store/apps/details?id=com.loglig.basketball' target="_blank"><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' style="height:60px;" /></a>
                        <a href="https://itunes.apple.com/us/app/loglig-isad-basketball/id1182750766?l=iw&ls=1&mt=8" target="_blank"> <img src='https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg' /></a>
                        <a href="http://www.isad.org.il/" target="_blank"><img src="~/Content/loglig_design/img/logo-basketball-handicap.png" style="width: 170px" /></a>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <a href="http://www.iva.org.il/" target="_blank"><img src="~/Content/loglig_design/img/logo-volleyball.jpg" style="width: 200px" /></a>
                    </div>
                </div>
            </div>
        </section>

        <section id="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Club & Team Plans</h2>
                        <hr class="primary">
                        <p class="text-muted" style="font-weight:bold">for basketball & volleyball</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 wow zoomIn">
                        <ul class="pricing-plan list-unstyled">
                            <li class="pricing-title">
                                Basic
                            </li>
                            <li class="pricing-desc">
                                Administrative panel with App
                            </li>
                            <!--   <li class="pricing-price">
          <span>$16</span> / month
      </li>  -->
                            <li>
                                Schedules & Standings
                            </li>
                            <li>
                                Roster & Officials - unlimited
                            </li>
                            <li>
                                Messages & Notification services
                            </li>
                            <li>
                                conecting with Fans
                            </li>
                            <li>
                                facebook & waze integration
                            </li>
                            <li>
                                Coach - Training Management
                            </li>
                            <li>
                                Sharing photos gallery
                            </li>
                            <li>
                                Frainds & Club Social network
                            </li>
                            <li>
                                0.5GB storage
                            </li>
                            <li>
                                <a class="btn btn-primary btn-xs" href="/Plan">Register</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 wow zoomIn">
                        <ul class="pricing-plan list-unstyled selected">
                            <li class="pricing-title">
                                Standard
                            </li>
                            <li class="pricing-desc">
                                Administrative panel with App + 
                                <br>
                                Live-Scoring App
                            </li>
                            <!--   <li class="pricing-price">
                                <span>$150</span> / month
                            </li>    -->
                            <li>
                                Schedules & Standings
                            </li>
                            <li>
                                Roster & Officials - unlimited
                            </li>
                            <li>
                                Messages & Notification services
                            </li>
                            <li>
                                conecting with Fans
                            </li>
                            <li>
                                facebook & waze integration
                            </li>
                            <li>
                                Coach - Training Management
                            </li>
                            <li>
                                Sharing photos gallery
                            </li>
                            <li>
                                Frainds & Club Social network
                            </li>
                            <li>
                                Live-Scoring App
                            </li>
                            <li>
                                Players & Team stats
                            </li>
                            <li>
                                Game statistics reports
                            </li>
                            <li>
                                Game - play by play
                            </li>
                            <li>
                                Storage - ulimited
                            </li>
                            <li>
                                <a class="btn btn-primary btn-xs" href="/Plan">register</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 wow zoomIn">
                        <ul class="pricing-plan list-unstyled">
                            <li class="pricing-title">
                                Premium
                            </li>
                            <li class="pricing-desc">
                                מערכת ניהול משולבת אפליקציהAdministrative panel with App +
                                <br>
                                Live-Scoring App +
                                <br>
                                Live broadcasting on App
                                <br>
                                (soon)
                            </li>
                            <!--    <li class="pricing-price">
                                <span>$300</span> / month
                            </li>   -->
                            <li>
                                Schedules & Standings
                            </li>
                            <li>
                                Roster & Officials - unlimited
                            </li>
                            <li>
                                Messages & Notification services
                            </li>
                            <li>
                                conecting with Fans
                            </li>
                            <li>
                                facebook & waze integration
                            </li>
                            <li>
                                Coach - Training Management
                            </li>
                            <li>
                                Sharing photos gallery
                            </li>
                            <li>
                                Frainds & Club Social network
                            </li>
                            <li>
                                Live-Scoring App
                            </li>
                            <li>
                                Players & Team stats
                            </li>
                            <li>
                                Game statistics reports
                            </li>
                            <li>
                                Game - play by play
                            </li>
                            <li>
                                Interfacing to game broadcasting
                            </li>
                            <li>
                                Storage - ulimited
                            </li>
                            <li>
                                <a class="btn btn-primary disabled">soon</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <section class="bg-primary" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-lg-offset-2 text-center" style="width: 66.66666667%;">
                        <h2 class="section-heading">Contact - us</h2>
                        <hr class="light">
                        <p>Want to hear more? great! contact-us by mail or phone and we'll get right back to you</p>
                    </div>
                    <div class="col-lg-3 col-lg-offset-2 text-center" style="width: 22.22222222%;">
                        <i class="fa fa-phone fa-3x wow bounceIn"></i>
                        <p>+972-54-2310485</p>
                    </div>
                    <div class="col-lg-3 text-center" style="width: 22.22222222%;">
                        <a href="https://www.facebook.com/loglig.sport/" target="blank"><img src="~/Content/loglig_design/img/FB-f-Logo__white_50.png"></a>
                    </div>
                    <div class="col-lg-3 text-center" style="width: 22.22222222%;">
                        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <p><a href="mailto:info@loglig.com">info@loglig.com</a></p>
                    </div>
                </div>
            </div>
        </section>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2015 Loglig Ltd</strong><br /> All Rights Reserved</p>
            </div>
        </div>

    </div>
    @Scripts.Render("~/bundles/js")
    <script src="~/Content/loglig_design/js/bootstrap.min.js"></script>
    <script src="~/Content/loglig_design/js/jquery.easing.min.js"></script>
    <script src="~/Content/loglig_design/js/jquery.fittext.js"></script>
    <script src="~/Content/loglig_design/js/wow.min.js"></script>
    <script src="~/Content/loglig_design/js/creative.js"></script>
    <script>
        $(function () {
            $('#login_frm').validate();

            $('#capt_btn').click(function () {
                var d = new Date();
                var captUrl = "/login/captcha?v" + d.getMilliseconds();
                $('#capt_img').attr('src', captUrl);
                return false;
            });
        });
    </script>

</body>
</html>

