@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Messages.ManagementSystem</title>
    @Styles.Render("~/content/style/css")
</head>
<body>
    @Html.Partial("_TopMenu")
    <div class="row">
        <div class="offset-5 text-center">
           <h3>@Messages.PageNotFound.</h3>
        </div>
    </div>
</body>
</html>

