<?xml version="1.0"?>
<!--<connectionStrings>
  <add name="DataEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVUPLDB01\DEV2K5;initial catalog=LogLig;persist security info=True;user id=devsa;password=sadev;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>-->
<connectionStrings>
  <!--QA-->
  <!--<add name="DataEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot; Data Source=ALEKSEY-SIDOROV\SQLEXPR14;Initial Catalog=LogLig;Integrated Security=True;MultipleActiveResultSets=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--> 
  <!-- <add name="DataEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot; Data Source=DESKTOP-UF08V9V\SQLEXPRESS;Initial Catalog=LogLig;Integrated Security=True;MultipleActiveResultSets=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
  <!--<add name="DataEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot; Data Source=DESKTOP-AHNG35F\SQLEXPRESS;Initial Catalog=LogLig;Integrated Security=True;MultipleActiveResultSets=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--Production-->
   <!-- <add name="DataEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=LogLig;persist security info=True;user id=logligusr;password=we45n12;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
  <add name="DataEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot; Data Source=localhost;Initial Catalog=LogLig;Integrated Security=True;MultipleActiveResultSets=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
