<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="true" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ValidImages" value=".jpg|.png|.gif|.jpeg" />
  
  <add key="ContentPath" value="/assets" />
  <add key="SiteUrl" value="http://loglig.com:8088" />
  <add key="PdfRoute" value="C:\LogLigGit\LogLig-Main\CmsApp\" />
  <add key="PdfUrl" value="http://loglig.com:8080/Pdf/" />

  <!-- test / prod -->
  <add key="IsTestEvironment" value="True" />

  <!-- files scurity scane -->
  <add key="MetaScanCookieName" value="AWSSESSGUID" />
  <add key="MetaScanHost" value="metascan-cloud.yit.co.il" />
  <add key="MetaScanBaseUri" value="http://metascan-cloud.yit.co.il:8008/metascan_rest/file" />
  <add key="ExtensionsAllowed" value="png,jpg,jpeg,gif,pdf,jpg/jpeg,pdf/ai" />
  <add key="MaxFileSize" value="2000"/>


  <!--in debug-->
  <add key="MailServerDebug" value="smtp.gmail.com" />
  <!--in release-->
  <add key="MailServer" value="smtp.gmail.com" />
  <add key="MailServerSenderAdress" value="logligwebapi@gmail.com" />
  <add key="MailServerSenderName" value="Loglig" />
  <add key="MailAdminEmailAddress" value="info@loglig.com" />

  <!-- AWS SNS Platform ARNs -->
  <add key="AmazonSNS_UseSandbox" value="true"/><!--Change this to false in production environment-->
  
  <add key="PlatformArnAPNS_Basketball" value="arn:aws:sns:eu-west-1:650058904732:app/APNS/LogLig-Basketball"/>
  <add key="PlatformArnAPNS_Volleyball" value=""/>
  <add key="PlatformArnAPNS_Netball" value="arn:aws:sns:eu-west-1:650058904732:app/APNS/LogLig-Catchball"/>
  <add key="PlatformArnAPNS_Waterpolo" value="arn:aws:sns:eu-west-1:650058904732:app/APNS/Loglig-waterpolo-prod"/>
  <add key="PlatformArnGCM" value="arn:aws:sns:eu-west-1:650058904732:app/GCM/LogLig-Android"/>

  <add key="PlatformArnAPNS_SANDBOX_Basketball" value="arn:aws:sns:eu-west-1:650058904732:app/APNS_SANDBOX/LogLig-Basketball"/>
  <add key="PlatformArnAPNS_SANDBOX_Volleyball" value=""/>
  <add key="PlatformArnAPNS_SANDBOX_Netball" value="arn:aws:sns:eu-west-1:650058904732:app/APNS_SANDBOX/LogLig-Catchball"/>
  <add key="PlatformArnAPNS_SANDBOX_Waterpolo" value="arn:aws:sns:eu-west-1:650058904732:app/APNS_SANDBOX/LogLig-Waterpolo-dev"/>

  <add key="PlatformArnGCM" value="arn:aws:sns:eu-west-1:650058904732:app/GCM/LogLig-Android"/>
  <add key="PlatformArnGCM_TEST" value="arn:aws:sns:eu-west-1:650058904732:app/GCM/LogLig-Android"/>
</appSettings>
