@model PasswordRecoveryViewModel

@{
    ViewBag.Title = "Password Recovery";
}

<h2>Password Recovery</h2>
@using (Html.BeginForm("PasswordRecovery", "Users", "POST"))
{
    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label">שם משתמש:</label>
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label">סיסמה:</label>
            @Html.Label(@Model.Password)
        </div>
    </div>
    <button type="submit" class="btn btn-primary">שלח</button>
}
