@model string
@{
    var name = ViewData.TemplateInfo.HtmlFieldPrefix;
}
<span class="btn btn-default btn-file">
    <span>@Messages.AddFile</span> 
    <input type="file" name="@name" data-val="true" data-val-regex-pattern="^.*\.(jpg|JPG)$" data-val-regex="@Messages.SelectValidImage" accept="image/*" />
</span>